{% extends "base.html" %}

{% block content %}

{% for page in pages %}

<span class="datebox">
  <span class="day">
    {{ page.date() | strftime('%d') }}
  </span>
  <span class="month-year">
    {{ page.date() | strftime('%b %Y') }}
  </span>
</span>


<article>
  <header>
    <h2>{{ page.title }}</h2>
  </header>
  <span class="dateline">
    {{ page.date() | strftime('%d %b %Y') }}
  </span>
  <span class="article-tags">
    tags: {% for tag in page.tags %}{{ tag }} {% endfor %}<br/>
    in: {{ page.category }}
  </span>  
  <section>
    {{ page.abstract }} 
    <a href="{{ page.url() }}">More...</a>
  </section>
</article>

{% endfor %}

{% endblock content %}

